# bit.ly/bites-keymap
'.platform-darwin':
  'cmd-0': 'tree-view:toggle-focus'

'atom-text-editor.vim-mode.normal-mode':
  'ctrl-h': 'window:focus-pane-on-left'
  'ctrl-l': 'window:focus-pane-on-right'

'atom-text-editor.vim-mode.insert-mode':
  'j j': 'vim-mode:activate-normal-mode'

'.tree-view':
  's': 'tree-view:open-selected-entry-right'
  'v': 'tree-view:open-selected-entry-down'
